.footer{
	background: #3A3A3A;
	&__logo{
	display: flex;
		padding: 40px 0 0 0;
}
&__title{
	font-family: Amatic SC;
font-weight: bold;
font-style: normal;
font-size: 60px;
color: #EBEBEB;;
}
&__subtitle{
	font-family: Amatic SC;
font-weight: bold;
font-size: 23px;
text-align: center;
letter-spacing: 0.075em;
color: #EBEBEB;
}
.logo{
	height: 92px;
	width: 115px;
}
&__row{
	display: flex;
	justify-content: space-between;
		flex-wrap: wrap;
}
&__contact{
padding: 40px 35px 0 0;
}
p{
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 22px;
color: #808080;
}
ul{
	padding-top: 10px;
}
li{
	font-family: Montserrat;
font-style: normal;
font-weight: 300;
font-size: 18px;
line-height: 22px;
:hover{color: #EDCFA3;}
a{color: #EBEBEB;}
}
&__copyright{
	text-align: center;
	margin-top: 30px;
	font-family: Montserrat;
font-style: normal;
font-weight: 500;
font-size: 12px;
color: #808080;
}
}
//====================================================================================================

//====================================================================================================

